<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--Cache Connections-->
    <add name="CacheODBC" connectionString="DRIVER={InterSystems ODBC};SERVER=192.1.5.216;PORT=1972;DATABASE=HMHCPMLIVE;UID=LIVE:ODBC;PWD=hotwire2011;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CacheODBCCWS" connectionString="DRIVER={InterSystems ODBC};SERVER=192.1.5.216;PORT=1972;DATABASE=HMHCCWSLIVE;UID=LIVE:ODBC;PWD=hotwire2011;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--end Cache Connections-->
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings xdt:Transform="Replace">
    <NTST.ScriptLinkService.Web.Properties.Settings>
      <setting name="NTST_ScriptLinkService_Web_ClientDischarge_ClientDischarge"
          serializeAs="String">
        <value>http://avprdb2:8972/csp/hmhcpmlive/WEBSVC.ClientDischarge.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_UserManagement_WebServices"
          serializeAs="String">
        <value>http://avprdb2:8972/csp/hmhcpmlive/WEBSVC.UserManagement.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_DCIImport_DCIImport"
          serializeAs="String">
        <value>http://avprdb2:8972/csp/hmhcpmlive/WEBSVC.DCIImport.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_ClientDiagnosis_ClientDiagnosis"
          serializeAs="String">
        <value>http://avprdb2:8972/csp/hmhcpmlive/WEBSVC.ClientDiagnosis.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_ProgramTransfer_ProgramTransfer"
          serializeAs="String">
        <value>http://avprdb2:8972/csp/hmhcpmlive/WEBSVC.ProgramTransfer.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_AppointmentScheduling_AppointmentScheduling"
          serializeAs="String">
        <value>http://avprdb2:8972/csp/hmhcpmlive/WEBSVC.AppointmentScheduling.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_AppointmentService_Appointment"
          serializeAs="String">
        <value>http://avprdb2:8972/csp/hmhcpmlive/WSAPI.PM.Appointment.AppointmentService.cls</value>
      </setting>
    </NTST.ScriptLinkService.Web.Properties.Settings>
  </applicationSettings>
</configuration>