<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NTST.ScriptLinkService.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Cache Connections-->
    <add name="CacheODBC" connectionString="DRIVER={InterSystems ODBC};SERVER=192.1.5.219;PORT=1972;DATABASE=HMHCPMLIVE;UID=LIVE:ODBC;PWD=hotwire2011;"/>
    <add name="CacheODBCCWS" connectionString="DRIVER={InterSystems ODBC};SERVER=192.1.5.219;PORT=1972;DATABASE=HMHCCWSLIVE;UID=LIVE:ODBC;PWD=hotwire2011;"/>
    <!--end Cache Connections-->
  </connectionStrings>
  <appSettings>
    <add key="Path" value="OptionObjectPages"/>
    <add key="SMTPServer" value="192.1.5.220"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPUserName" value=""/>
    <add key="SMTPPassword" value=""/>
    <add key="SMTPFromEmailAddress" value="AvatarSupport@hendersonbehavioralhealth.org"/>
    <add key="AuthEmailRecipients" value="RKelly@hendersonbehavioralhealth.org,ICandelaria@hendersonbehavioralhealth.org,lwein@hendersonbehavioralhealth.org"/>
    <add key="ProgressNoteVoidedRecipients" value="lwein@hendersonbehavioralhealth.org,AR_Billing@hendersonbehavioralhealth.org,worders@hendersonbehavioralhealth.org"/>
    <add key="SMTPCreateSWTicket" value="worders@hendersonbehavioralhealth.org"/>
    <add key="UpdateUserEmail" value="lquicano@hendersonbehavioralhealth.org"/>
    <add key="AssignToBilling" value="#category Billing,#set Branch=Billing,#assign AR Billing"/>
    <add key="westBrowardAdmitTicketCreation" value="#category West Broward Ins,#set Branch=West Broward,#assign mjenks@hendersonbehavioralhealth.org"/>
    <add key="housingAdmitTicketCreation" value="#category West Broward Ins,#set Branch=West Broward,#assign jromig@hendersonmhc.org"/>
    <add key="enableEndTime" value="false"/>
    <add key="SystemCode" value="LIVE"/>
    <add key="Username" value="ODBC"/>
    <add key="Password" value="hotwire2011"/>
    <add key="ServiceCodesToExclude" value="311,312,601,602"/>
    <add key="GuarantorsToMakeRequired" value="200,208,202,206,207,209,210,201,205,203,211,50,900,303,700,701,302,400,401"/>
    <add key="WestBrowardPrograms" value="101,102,110,115"/>
    <add key="HousingPrograms" value="320,322"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <applicationSettings>
    <NTST.ScriptLinkService.Web.Properties.Settings>
      <setting name="NTST_ScriptLinkService_Web_ClientDischarge_ClientDischarge"
          serializeAs="String">
        <value>http://avtest:8972/csp/avtest/hmhcpmlive/WEBSVC.ClientDischarge.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_UserManagement_WebServices"
          serializeAs="String">
        <value>http://avtest:8972/csp/avtest/hmhcpmlive/WEBSVC.UserManagement.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_DCIImport_DCIImport"
          serializeAs="String">
        <value>http://avtest:8972/csp/avtest/hmhcpmlive/WEBSVC.DCIImport.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_ClientDiagnosis_ClientDiagnosis"
          serializeAs="String">
        <value>http://avtest:8972/csp/avtest/hmhcpmlive/WEBSVC.ClientDiagnosis.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_ProgramTransfer_ProgramTransfer"
          serializeAs="String">
        <value>http://avtest:8972/csp/avtest/hmhcpmlive/WEBSVC.ProgramTransfer.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_AppointmentService_Appointment"
          serializeAs="String">
        <value>http://avtest:8972/csp/avtest/hmhcpmlive/WSAPI.PM.Appointment.AppointmentService.cls</value>
      </setting>
      <setting name="NTST_ScriptLinkService_Web_AppointmentScheduling_AppointmentScheduling"
          serializeAs="String">
        <value>http://avtest:8972/csp/avtest/hmhcpmlive/WEBSVC.AppointmentScheduling.cls</value>
      </setting>
    </NTST.ScriptLinkService.Web.Properties.Settings>
  </applicationSettings>
</configuration>